.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2.5em;
  padding-top: 10px;
  background-color: #212529;
}

.p-footer{
  font-size: 0.9em;
  color: darkgray;
}
