.App {
  text-align: center;
  background-image: url(./assets/img/fondo2.jpg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#titulo{
  margin-top: 81px;
  font-size: 4em;
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 70px;
}

#title{
  margin-top: 150px;
  font-size: 4em;
  
}

.card{
  border-radius: 0%;
  background-color: #212529;
  border: 0;
  margin-bottom: 20px;
}

.card:hover{
  background-color: black;
}

.card-body{
  padding: 10px;
  text-align: center;
}

#nombre{
  font-size: 24px;
  padding: 5px;
  color: white;
}

h6{
  color: white;
  text-align: center;
}


.container-p{
  width: 70%;
  
}


.contenedor{
  background-color: #212529;
  min-height: 888px;
  
}

#titulo-especie{
  margin-top: 88px;
}

#nombre2{
  color: cadetblue;
  font-size: 1rem;
}

#subtitulo-especie{
  color: cadetblue; 
  margin-bottom: 90px;
}

.item-especie{
  padding: 5px;
}
